/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding: 2em;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #333;
    max-width: 1000px;
    margin: auto;
}

h1 {
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

header {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.demo {
    max-width: 100%;
    border: 1px solid #fff;
    padding: 5px;
}

h2 {
    margin-top: 2em;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logos svg {
    max-width: 200px;
}

.inline-form {
    display: inline-block;
}

.flex {
    display: flex;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: middle;
    margin-top: 2em;
    font-size: .6rem;
}

.progress input {
    width: 85%;
    margin: 0 .5em;
}

.progress span {
    display: block;
    line-height: 2rem;
}

.player {
    border: 1px solid #ebebeb;
    padding: 1rem;
    margin-bottom: 1em;
    font-size: 2rem;
}

.player img {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
}

.js-genius-wrapper {
    position: relative;
}

.js-progress {
    width: 10px;
    background: rgba(0, 0, 0, .3);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.music {
    margin-top: 0 !important;
    margin-left: 10px !important;
    border-top: 1px solid #ebebeb !important;
    display: block !important;
}

.rg_embed_body p {
    margin-top: 0;
}

.rg_embed {
    background: none !important;
}

.rg_embed a[data-id] {
    color: #fff !important;
}

button,
[type="submit"] {
    background: #1BD760;
    border: none;
    font: inherit;
    padding: .5em 1em;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

a {
    color: #1BD760;
}

body {
    background: #222;
    color: #fff;
}